body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}
#root {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}
form, .school, .work, .project, .skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
form label, .school label, .work label, .project label, .skills label {
  display: flex;
  flex-direction: column;
}
input[type="text"], input[type="tel"], input[type="email"], input[type="url"], input[type="date"], textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 60%;
  align-self: center;
}

.center-input{
  grid-column: 1/3;
}
textarea {
  resize: vertical;
  height: 100px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  grid-column: 1 / -1;
}
ul li {
  margin-bottom: 10px;
}
button {
  grid-column: 1 / -1;
  padding: 10px;
  background: #007BFF;
  width: 128px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}
button:hover {
  background: #0056b3;
}
.work button, .project button, .skills button{
  grid-column: 1/3;
  justify-self: center;
}
.school, .work, .project, .skills {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.school:last-child, .work:last-child, .project:last-child, .skills:last-child {
  border-bottom: none;
}
.centered {
  grid-column: 1 / -1;
  text-align: center;
}
.category-skills{
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
@media print{
  .hide-on-save{
    display: none;
  }
  #root{
    box-shadow: none;
  }
  @page{
    size: auto;
    margin: 0;
  }
}